/*---------------------------------------------------------------*/
/*----------- components/button-dropdown-variables.scss ---------*/
/*---------------------------------------------------------------*/
:root {
  /* Button */
  /* List */
  --button-dropdown-list-max-width: 40rem;
  --button-dropdown-list-justify-content: flex-start;
  --button-dropdown-list-white-space: initial;
}
